@import {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    background-color: white;
    margin: 0;
    text-align: left;
    color: #393939;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* typography*/
.small-title {
    font-family: Montserrat;
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.title {
    font-family: Montserrat;
    font-size: 1.5rem;
    display: block;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.title .pink {
    display: inline;
    color: #FB5E64;
}

.title span {
    display: block;
}

.home-hero h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 800px) {
    .small-title {
      font-size: 1.5rem;
      letter-spacing: 2px;  
    }

    .title {
        font-size: 2.25rem;
        letter-spacing: 2%;
    }

    .home-hero h5 {
        display: block;
        margin: 0 auto;
        margin-top: 28rem;
        margin-bottom: 1rem;
    }
}




/*header*/

header {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: auto;
    padding: 1rem 1.25rem;
    background-color:white;
    z-index: 5;
}

header img {
    width: auto;
    height: 1.25rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-box {
    text-align: center;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 0rem;
    padding-bottom: 0rem;
}

nav a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    color: #393939;
    text-decoration: none;
    padding: 0.5em;
}

.this-page a {
    color: #FB5E64;
    border-bottom: 2px solid #FB5E64;
}

header a:hover {
    color: #FB5E64;
}

header a:active {
     color: #FB5E64;
 }
 
 @media (min-width: 800px) {
    header {
        padding: 1rem 4rem;
        width: 100%;
    }
    nav {
        float: right;
    }
    header img {
        float: left;
        top: 1rem;
}
   li {
       padding-top: 1rem;
       padding-left: 1rem;
   }
}


 /* banner*/

 .home-hero {
     padding-top: 8rem;
     display: block;
 }

 .banner-image {
     max-width: 90%;
     margin-left: 1.4rem;
 }

 .home-hero .container {
     padding-top: 1rem;
 }

 .vr {
    width: 1.5px;
    height: 49px;
    background-color:#FB5E64;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .home-hero{
        margin: 0 12.152778%;
        padding-top: 14rem;
        max-width: 76%;
    } 
    .banner-image {
        display: inline-block;
        float: right;
        padding-left: 4rem;
        width: 45%;
    }
    .home-hero .container {
        max-width: 50%;
        float: left;
        display: inline-block;
    }
}

 /* projects */

 .projects-section {
     max-width: 90%;
     display: block;
     margin: 0 auto;
     padding-top: 2.5rem;
 }

 .project {
     display: block;
     margin-bottom: 5rem;
 }


 @media (min-width: 800px) {
    .projects-section {
        margin: 0 19.861111%; 
    }

    .project {
        display: flex;
        height: auto;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .project img {
        display: inline-flex;
        margin-top: 10rem;
        padding-right: 5%;
    }

    .project-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25rem;
        margin-top: 10rem;
        height: inherit;
        padding-left: 7%;
    }

    .project h6 {
        margin-top: 0;
    }

    #right {
        flex-direction: row-reverse;
    }

    #right .project-text {
        padding-left: 0;
        padding-right: 7%;
        
    }

    #right img {
        padding-right: 0;
        padding-left: 5%;
    }
 }

 /*button*/

.button-readmore {
    font-size: 1rem;
    text-decoration: none;
    border: 1.5px solid #FB5E64;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 129.9%;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #393939;
  }
  
  .button-readmore hr {
      display: inline-block; 
      width: 30%;
      height: 0px;
      margin-left: 4.5rem;
      justify-content: center;
      border: 1px solid #393939;
      margin-bottom: 4px;
  }
  
  .button-readmore:hover,
  .button-readmore:focus {
      font-family: Montserrat;
      font-weight: 800;
  }
  

 /*typography*/

 .project h6 {
     font-family: Montserrat;
     font-size: 1rem;
     font-weight: 300;
     line-height: 129.9%;
     letter-spacing: 0.03em;
 }

   h6 {
       font-family: Montserrat;
       font-weight: 300;
}

 .project h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 140%;
 }

 @media (min-width: 800px) {
    .project h5 {
        font-size: 1.5rem;
    }
 }

 /*footer*/

   footer {
       width: 100vw;
       display: block;
       overflow: hidden;
       padding: 24px 0;
       font-family: Montserrat;
       font-style: normal;
       font-weight: 500;
       font-size: 1rem;
       line-height: 129.9%;
       border-top: solid 1px #FB5E64;
   }

   footer .connect {
        display: block;
        margin: 0 auto;
        width: 89.3333333%;
        height: 100%;
        padding-bottom: 1rem;
   }

   footer .bold {
       font-family: Montserrat;
       font-style: normal;
       font-weight: 800;
       font-size: 1rem;
       line-height: 129.9%;
   }

   footer span {
       display: flex;
       flex-direction: row;
       height: 100%;
   }

   footer a {
    display: flex;
    flex-direction: row;
    height: 100%;
   }

   footer img {
       display: inline-block;
   }

   footer p {
       display: inline-block;
       padding-left: 1rem;
   }

   footer .bottom {
    display: block;
    margin: 0 auto;
    width: 89.3333333%;
    height: 100%;
    padding-bottom: 1rem;
   }
   
   footer a {
       color: #393939
   }

   @media (min-width:800px) {
       footer {
           margin-top: 5rem;
       }

       footer .connect {
            padding-bottom: 0;
       }
        
   footer .bottom {
       float: right;
       text-align: right;
       margin-right: 4.444444%;
   }
}


/*about me*/

.about-me-top {
    color :#393939;
    width: 100%;
    padding-top: 8rem;
    display: block;
    height: 680px;

}

.about-me-text {
    width: 60.277778%;
    text-align: left;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .about-me-text h2 {
        font-size: 1.5rem;
    }
}

.about-me-text h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 29px;
    margin-bottom: 4rem;
}

.about-me-text h2 {
    margin-bottom: 2rem;
    line-height: 150%;
    font-size: 1.5rem;
}

.history h6 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
}

.timeline {
    width: 5px;
    height: 2126px;
    background-color:#FB5E64;
    position: relative;
    text-align: center;
    display: block;
    margin: 1rem auto;
    padding-bottom: 4rem;
}

.timeline-item-childhood {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 3.3%;
    right: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.childhood-eclipse {
    position: absolute;
    width: 49px;
    height: 49px;
    bottom: -24.5px;
    right: -99px;
}

.childhood {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    right: 242px;
    margin: 0;
    width: fit-content;
}

.childhood-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -44px;
    right: -570px;
}

.timeline-item-university {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 19.96666%;
    left: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.university-eclipse {
    position: absolute;
    width: 49px;
    height: 49px;
    bottom: -24.5px;
    left: -99px;
}

.university {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    left: 242px;
    margin: 0;
    width: fit-content;
}

.university-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -63px;
    left: -570px;
}

.timeline-item-consultancy {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 36.63326%;
    right: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.consultancy-eclipse {
    position: absolute;
    width: 49px;
    height: 49px;
    bottom: -24.5px;
    right: -99px;
}

.consultancy {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    right: 242px;
    margin: 0;
    width: fit-content;
}

.consultancy-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -81px;
    right: -570px;
}

.timeline-item-abroad {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 53.29986%;
    left: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.abroad-eclipse {
    position: absolute;
    width: 49px;
    height: 49px;
    bottom: -24.5px;
    left: -99px;
}

.abroad {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    left: 242px;
    margin: 0;
    width: fit-content;
}

.abroad-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -71px;
    left: -570px;
}

.timeline-item-diploma {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 69.96646%;
    right: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.diploma-eclipse {
    position: absolute;
    width: 49px;
    height: 49px;
    bottom: -24.5px;
    right: -99px;
}

.diploma {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    right: 242px;
    margin: 0;
    width: max-content;
}

.diploma-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -63px;
    right: -570px;
}

.timeline-item-now {
    position: absolute;
    width: 202px;
    height: 254px;
    top: 88%;
    left: 77px;
    text-align: center;
    border-bottom: 1px solid #393939;
}

.now-eclipse {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -35px;
    left: -109px;
}

.now {
    position :absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    color: #393939;
    bottom: -37px;
    left: 242px;
    margin: 0;
    width: fit-content;
}

.now-text {
    text-align: left;
    width: 418px;
    position: absolute;
    bottom: -30px;
    left: -570px;
}




/*MUSITUDE*/

.banner {
    background-color: #7B3D90;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 8rem;
    display: block;
    height: 680px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-text {
    display: flex-item;
    position: relative;
    margin: 0 auto;
    width: 88%;
}

.banner h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.1em;
    margin-top: 0;
}

.banner h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1em;
}

@media (min-width:800px) {

.banner {
    height: 800px;
}

.banner h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 9.375rem;
    line-height: 100%;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: 0;
}

.banner h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0.1em;
}
}

/*keyinfo*/

.key-info {
    width: 100%;
    height: max-content;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.key-info-item {
    text-align: center;
    width: 168px;
    margin-top: 2rem;
}

.key-info h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 29px;
    text-align: center;
    letter-spacing: 1.35px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
}

#border {
    border-right: 1px solid #979797;
}

.key-info p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.9px;
}

@media (min-width: 800px) {
    .key-info {
        width: 75.694444%;
        justify-content: space-between;
    }

    .key-info-item {
        width: 25%;
    }

    #border2 {
        border-right: 1px solid #979797;
    }

    .key-info h6 {
        font-size: 1.5rem;
    }

    .key-info p {
        font-size: 1rem;
    }
}


/*task*/

.info {
    width: 100%;
    position: block;
    height: max-content;
}

@media (min-width: 800px) {
    .info {
        margin-top: 8rem;
    }
}


.info h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 1.35px;
    width: 90%;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 3rem;
    display: block;
}

.info p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 1.2px;
    width: 88%;
    margin-left: 25px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 800px) {

    .info h6 {
        width: 44.861111%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .info p {
        width: 44.861111%;
        margin: auto;
        margin-top: 1rem;
    }

    .research h6 {
        height: max-content;
    }

    .research img {
        width: 44.861111%;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    }

.image-container {
    width: 100%;
    margin-top: 5rem;
}

#line {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media (min-width: 800px) {
    #line {
        width: 30%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.task {
    display: block;
    height: max-content;
    margin-top: 2.5rem;
}

.research {
    display: block;
    height: max-content;
    margin-top: 2.5rem;
}

.research img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
}

.research #nomargin {
    margin-bottom: 0;
}

.planning {
    display: block;
    height: max-content;
}

.planning img {
    width: 88%;
    display: block;
    margin: 0 auto;
}

#planning2 {
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .planning img {
        width: 44.861111%;
        margin: 0 auto;
    }

    #planning2 {
        margin-top: 4rem;
    }
}

.design {
    display: block;
    height: max-content;
}

.design img {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 2.5rem;
}

@media (min-width: 800px) {
    .design img {
        width: 18.47222%;
    }
}

.reflections {
    display: block;
    height: max-content;
}

.reflections .bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 1.2px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.prototype {
    display: block;
    height: max-content;
}

.prototype img {
    width: 88%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 800px) {

    .prototype img {
    width: 60.277778%;
}

.prototype h6 {
    margin-bottom: 0;
}

.prototype p {
    margin: 0 auto;
    display: block;
    width: 44.861111%;
    text-align: center;
}
}

#bold {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    }


.info a {
    text-decoration: underline;
    color: #FB5E64;
}

.medium {
    display: block;
    height: max-content;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.medium .button-readmore {
    width: 88%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-decoration: none;
    color: #393939;
}

#projecthr {
    width: 30%;
    margin: 0;
    margin-left: 3.5rem;
    margin-bottom: 4px;
}

@media (min-width: 800px) {
    .medium .button-readmore {
        width: 21.736111%;
}
}

/*the amp*/

#ampbanner {
    background-color: #FF6978;
}

#why {
    color: #FF6978;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    font-family: Montserrat;
    margin-top: 2rem;
}

#ampmood {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.design-language {
    display: flex;
    direction: row;
    width: 44.861111%;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

#design-language-item {
    border: 1px solid #FF6978;
    width: 150px;
    margin: 0 auto;
    height: auto;
    margin-top: 3rem;
}

#design-language-item h6 {
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#design-language-item p {
    font-size: 0.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#ampstyletile {
    margin-bottom: 2rem;
    width: 88%;
}

@media (min-width: 800px) {
#ampstyletile {
    width: 44.861111%;
}

#ampgif {
    width: 40%;
}
}

#cocorosebanner {
    background-color: #FFAE1A;
}

#cocoroseplanning {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#cocoroseiterations {
    width: 88%;
}

#cocoroseprototype {
    margin-bottom: 4rem;
}

@media (min-width: 800px) {
    #cocoroseiterations {
    width: 44.861111%;
}

#cocoroseprototype {
        margin-top: 4rem;
        width: 44.861111%;
    }
}

#oceansedgebanner {
    background-color: #012C60;
}

#oceansedgewhy {
    color: #012C60;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    font-family: Montserrat;
    margin-top: 2rem;
}

#oceansedgeplanning {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#oceansedgesitemap {
    width: 88%;
}

#oceansedgeprototype {
    margin-bottom: 4rem;
    width: 44.861111%;
}

#oceansedgebottom {
    margin-bottom: 2rem;
}

@media (min-width: 800px) {

#oceansedgebanner h1 {
    font-size: 8.5rem;
}

#oceansedgesitemap {
    width: 44.861111%;
}

#oceansedgeprototype {
    margin-top: 4rem;
}
}

#trewfieldsbanner {
    background-color: #31A297;
}

#trewfieldsresearch {
    width: 88%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#trewfielditerations {
    width: 88%;
}

@media (min-width: 800px) {
    #trewfieldsresearch {
    width: 44.861111%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#trewfielditerations {
    width: 30%;
}
}

#sevenbanner {
    background-color: #6580D4;
}

#sevenwhy {
    color: #012C60;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    font-family: Montserrat;
    margin-top: 2rem;
}

#sevenicons {
    width: 88%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

@media (min-width: 800px) {
    #sevenicons {
        width: 44.861111%;
} 
#sevensub {
    width: 100%;
}
}

.posters {
    display: flex;
    width: 75.6944444%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poster {
    width: 40%;
    margin: 2rem;
}

.posters-top {
    display: block;
    color :#393939;
    width: 100%;
    padding-top: 8rem;
}

.posters-text {
    width: 60.277778%;
    margin: 0 auto;
}

.posters-text h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 29px;
}
